<% mociones = ["List of Speakers", "Session of questions", "Moderate Caucus", "Unmoderated Caucus"] %>
<% if esCDE? %>
    <% color = "amber darken-2"; comite = "CDE"; mociones = []%>
<% elsif esCIJ?  %>
    <% color = "deep-purple"; comite = "CIJ"; mociones = [] %>
<% elsif esUNEP? %>
    <% color = "light-green accent-4"; comite = "UNEP" %>
<% elsif esNATO? %>
    <% color = "blue darken-3"; comite = "NATO"; mociones = ["List of speakers", "Session of questions", "Immoderate Caucus", "Strategic Meeting"] %>
<% end %>
<nav>
    <div class="nav-wrapper <%=color%>">
        <% if esCDE? || esCIJ? %>
            <a href="#!" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons white-text    ">menu</i></a>
        <% end %>
        <a href="#!" class="brand-logo"><%= comite %></a>
        <ul class="right">
            <li><span id="Hora Actual"></span></li>
            <li><a href="#!" onclick="aniadirPresentes()"><i class="material-icons white-text">add</i></a></li>
            <li><a href="#!" onclick="votacion('Cierre de sesión')"><i class="material-icons white-text">power_settings_new</i></a></li>
        </ul>
    </div>
</nav>
<ul id="slide-out" class="side-nav">
    <% mociones.each do |m| %>
        <li><a href="#!" onclick="votacion("<%= m %>")"><%= m %></a></li>
    <% end %>
</ul>
  <script type="text/javascript">
      $(".button-collapse").sideNav();
  </script>
